<style>
footer {
    position: relative;
    height: 300px;
    width: 100%;
    background-color: #333333;
}

p.copyright {
    position: relative;
    width: 100%;
    color: #fff;
    line-height: 30px;
    font-size: 0.5em;
    text-align: center;
    bottom:0;
}
</style>


#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}

body {
	@include bodyBackground();
	background-color: $backgroundColor;
	color: black
}

h1 {
    color: black
}

.reveal {
	font-family: $mainFont;
	font-size: $mainFontSize;
	font-weight: normal;
	color: black;
}
}
